{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <h1 class="mb-4 mt-4">Страница профиля</h1>
        <form action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            <table class="table">
                <tbody>
                    {% for key, value in parameters.items %}
                        <tr>
                            <td>
                                <label for="{{ key }}">{{ key }}:</label>
                            </td>

                            {% if value.type == "dynamic" %}
                                <td>
                                    <div class="input-group">
{#                                        <div class="input-group-prepend">#}
{#                                            <div class="input-group-text">@</div>#}
{#                                        </div>#}
                                        <input class="form-control" type="text" name="{{ key }}" id="{{ key }}" value="{{ value.value }}" placeholder="{{ value.placeholder }}">
                                    </div>
                                </td>
                            {% elif value.type == "static" %}
                                <td>
                                    <input class="form-control-plaintext" readonly type="text" name="{{ key }}" id="{{ key }}" value="{{ value.value }}">
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <input type="submit" class="btn btn-primary">
                <a href="{% url 'logout' %}" class="btn btn-danger ml-2">Выйти из аккаунта</a>
            </div>
        </form>

    </div>

{% endblock %}