[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/iii/post_generator_backend/backend
ExecStart=/home/iii/post_generator_backend/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/post_generator_backend.sock main.wsgi:application
[Install]
WantedBy=multi-user.target
