{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="image-hello">
        <div class="image-hello-background"></div>
        <div class="image-hello-background-shadow"></div>
        <div class="image-hello-text-block">
            <div class="image-hello-text header-font-1">О НАС</div>
        </div>
    </div>
    <div class="container mt-5 p-5 mb-5">
        <div class="w-75">
            <div class="header-container-index_page header-font-2 mb-6">
                Наш проект помогает в написании постов для социальных сетей
            </div>
            <hr class="hr-line">
            <div class="text-container-index_page mt-5 mb-5">
                С помощью нейронной сети, обученной на более чем 500 Гб текста, вы
                сможете быстро получить готовый пост для вашей социальной сети.
                Всё, что вам нужно - придумать начало вашей истории и нажать кнопку "сгенерировать".
            </div>
        </div>

    </div>
{% endblock %}
